.App {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  flex-wrap: wrap;
  background-color: #ddd;
}

.dataCard {
  background-color: #efefef;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
  height: 16rem;
}

.revenueCard {
  width: 100%;
  height: 20rem;
  border: black;
  border-color: black;
  border-style: inherit;
  
 
}


.customerCard {
  display: flex;
  height: 20rem;
  background-origin: padding-box;
  border: black;
  border-color: black;
  border-style: inherit;
  
}

.categoryCard {
  display: flex;
  height: 20rem;
  background-origin: padding-box;
  border: black;
  border-color: black;
  border-style: inherit;
}




.btn button {
  background-color: #007bff; /* Blue */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn button:hover {
  background-color: #0056b3; /* Darker Blue */
}



.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
